#countdown 
{
    
}
#countdown .countdown_group
{
    display: inline-block;
    padding: 0px 20px;
}
#countdown .countdown_group .countdown_value 
{
    font-size: 60px;
    display: block;
}
#countdown .countdown_group .countdown_help 
{
    font-size: 15px;
    display: block;
}


